In [1]:
import lxml
from bs4 import BeautifulSoup
from xlwt import *
from urllib.request import Request, urlopen
import pandas as pd

In [2]:
workbook = Workbook(encoding = 'utf-8')
table = workbook.add_sheet('data')
table.write(0, 0, 'Product number')
table.write(0, 1, 'Product Name')
table.write(0, 2, 'New Price')
table.write(0, 3, 'Old Price')
line = 1

In [3]:
from urllib.request import Request, urlopen

req = Request(
    url = 'https://www.guess.com/us/en/women/apparel/sale/denim', 
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/192.168.56.1 Safari/537.36 QIHU 360SE'}
)
webpage = urlopen(req).read()
soup = BeautifulSoup(webpage, 'lxml')
products = soup.find_all('div', {'class': 'product-grid__column'})

In [12]:
num = 0
df = pd.DataFrame(columns=['Product number', 'Product Name', 'New Price', 'Old Price'])
for product in products:  
  product_name = product.find('a', {'class': 'link product-tile__link'}).text.strip()
  new_price = product.find('span', {'class': 'price__red-color text-nowrap'}).text.strip().split('\n')[1]
  old_price = product.find('span', {'class': 'price__strike-through'}).text.strip()
  # print(num, '\n', 'Product: ' + product_name)
  # print('\n', new_price)
  # print('\n', old_price)
  df = df.append(pd.DataFrame([[num,product_name,new_price,old_price]], columns=['Product number', 'Product Name', 'New Price', 'Old Price']))
  num += 1
  table.write(line, 0, num)
  table.write(line, 1, product_name)
  table.write(line, 2, new_price)
  table.write(line, 3, old_price)
  line += 1
  workbook.save('Guess_WomenSales.xls')

In [11]:
products[0].find('span', {'class': 'price__strike-through'}).text.strip()

'$148.00'

In [13]:
df

  Product number                            Product Name New Price Old Price
0              0            Eco Pop '70s Split Hem Jeans    $88.80   $148.00
0              1      Eco Super High-Rise Wide Leg Jeans    $74.00   $148.00
0              2              1981 Eyelet Straight Jeans    $82.80   $138.00
0              3              1981 Eyelet Straight Jeans    $82.80   $138.00
0              4                     Emerson Denim Skirt    $76.80   $128.00
0              5             Jossy High-Rise Flare Jeans    $79.00   $158.00
0              6             1981 Pinstripe Skinny Jeans    $64.80   $108.00
0              7                     Emerson Denim Skirt    $76.80   $128.00
0              8                   Claudia Eyelet Shorts    $49.00    $98.00
0              9             1981 Pinstripe Skinny Jeans    $64.80   $108.00
0             10           Lace Exposed Button Mom Jeans    $64.00   $128.00
0             11                    Stiletto No. 97 Jean   $119.99   $150.00
0             12              1981 Eyelet Straight Jeans    $82.80   $138.00
0             13              1981 Eyelet Straight Jeans    $82.80   $138.00
0             14                   Claudia Eyelet Shorts    $49.00    $98.00
0             15           Lace Exposed Button Mom Jeans    $64.00   $128.00
0             16                   Lace Denim Mini Skirt    $58.80    $98.00
0             17                  1981 Lace Skinny Jeans    $82.80   $138.00
0             18                   Lace Denim Mini Skirt    $58.80    $98.00
0             19                           Neva Jumpsuit    $88.80   $148.00
0             20              1981 Eyelet Straight Jeans    $82.80   $138.00
0             21                   Claudia Eyelet Shorts    $49.00    $98.00
0             22                           Manila Shorts    $44.50    $89.00
0             23                       Eco Neva Jumpsuit    $88.80   $148.00
0             24                           Manila Shorts    $44.50    $89.00
0             25             1981 Pinstripe Skinny Jeans    $64.80   $108.00
0             26                  1981 Lace Skinny Jeans    $69.00   $138.00
0             27       1981 Metallic Floral Skinny Jeans    $74.00   $148.00
0             28              Printed Sexy Bootcut Jeans    $84.00   $168.00
0             29   1981 Destroyed High-Rise Skinny Jeans    $64.80   $108.00
0             30           Ultimate Shimmer Skinny Jeans    $64.00   $128.00
0             31   1981 Destroyed High-Rise Skinny Jeans    $81.00   $108.00
0             32  1981 Faux-Leather Waist Straight Jeans    $64.00   $128.00
0             33             Eco Super-High Skinny Jeans    $64.80   $108.00
0             34                1981 Coated Skinny Jeans    $64.00   $128.00
0             35          Eco Sexy Curve Destroyed Jeans    $69.99   $118.00